/* general */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

body {
  width: 80%;
  margin: auto;
  font-size: 16px;
}

/* header */
/* empty */

/* main */
/* empty */

/* footer */
/* empty */
